# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

/target
/project

# Ignore Play! working directory #
db
eclipse
lib
logs
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml
activator-sbt-atmos-play-shim.sbt
activator-sbt-eclipse-shim.sbt
activator-sbt-idea-shim.sbt
RUNNING_PID

public/scala-js/

# Ignore Gatling result folder #
injector/results