<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>simulation.log</file>
		<encoder>
		  <pattern>%date [%thread] %d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
		  <immediateFlush>false</immediateFlush>
		</encoder>
	</appender>
  
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<!-- Uncomment for logging ALL HTTP request and responses -->
	<!--<logger name="io.gatling.http" level="TRACE" />-->
	<!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
	<logger name="io.gatling.http" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger>

	<root level="debug">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
